.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0px 0px 96px 0px;
    flex: 1 1 0;
}
.top-section{
    background-color: #1f2937;
    padding: 8px 400px 128px 400px;
}
body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
}

.links li a{
    color: #e5e7eb;
    font-size: 18px;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}
.links{
    display:flex;
    gap: 24px;
}
.hero-section{
    display:flex;
    gap: 16px;
}
.text-hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 0;
    gap:8px;
}
.image-container img{
    position: absolute;
    height: 100%;
    width: 100%;
}
.image-container{
    flex: 1 1 0;
    position: relative;
}
.hero{
    color:#f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.sub-hero{
    color:#e5e7eb;
    font-size: 18px;
}
.hero-section button{
    background-color: #3882f6;
    padding: 8px 16px;
    border: none;
    font-size: 18px;
    color: #f9faf8;
    border-radius: 6px;
}

/* Second-section */
.second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-text{
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
    margin: 36px;
}
.card-text{
    font-size: 18px;
    color: #1f2937;
}
.card-container{
    display: flex;
    gap: 48px;
    margin-bottom: 64px;
}
.card{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    align-items: center;
    text-align: center;
}
.card img{
    width: 150px;
    height: auto;
    border: 4px solid blue;
}

/* Quote section */

.quote-section{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 64px 312px;
}

.quote-text{
    color:#1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: left;
}

.quote-author{
    color:#1f2937;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}


/* blue-section */

.blue-section{
    background-color: #3882f6;
    margin: 64px 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px;
    gap: 12px;
}

.blue-heading{
    color:white;
    font-weight: bold;
    font-size: 24px;
}

.blue-text{
    color:white;
    font-size:18px;
}

.blue-section button{
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 18px;
}


/* footer */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 24px;
    color: #e5e7eb;
    font-size: 18px;
}